/Assets/Oculus
/Assets/Packages
/Assets/Plugins
/Assets/TutorialInfo
/Assets/XR
*.csproj
/Library
/Logs
/Packages
DEVELOPMENT_PLAN.md
/Assets/Samples
/Assets/TextMesh Pro
/Temp
CODING_STANDARDS.md
/.vs
/obj
PHASE_2_3_COMPLETION_REPORT.md
